<div class="container mt-4">
    <header class="bg-dark text-white p-2 mb-2 text-center">
        <h1>Registro</h1>
    </header>

    <!-- Formulario onde o ngSubmit chama o metodo submit() -->
    <form (ngSubmit)="submit()" [formGroup]="form">
        
        <!-- input do nome -->
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" 
            formControlName="name" 
            [ngClass]="{is-invalid:submitted && f.name.errors}" 
            name="name"
            class="form-control" 
            placeholder="Digite o seu nome">

            <!-- Essa div ira aparecer caso o campo nome esteja vazio -->
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">
                    O nome é obrigatorio!
                </div>
            </div>
        </div>
        
        
        <!-- Input do email -->
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email"
            formControlName="email"
            [ngClass]="{is-invalid:submitted && f.email.errors}" 
            name="email" 
            class="form-control" 
            placeholder="Digite o seu e-mail">
            
            <!-- Essa div ira aparecer caso o campo email esteja vazio -->
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                
                <div *ngIf="f.email.errors.required">
                    O email é obrigatorio!
                </div>

                <div *ngIf="f.email.errors.email">
                    Insira um email válido!
                </div>

            </div>
            
        </div>
        
        
        
        <!-- Input da senha -->
        <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" 
            formControlName="password"
            [ngClass]="{is-invalid:submitted && f.password.errors}" 
            name="password" 
            class="form-control" 
            placeholder="Digite sua senha">

             <!-- Essa div ira aparecer caso o campo senha esteja vazio -->
             <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                
                <div *ngIf="f.password.errors.required">
                    A senha é obrigatória!
                </div>

                <div *ngIf="f.password.errors.minlength">
                    Senha com no mínimo 6 caracteres!
                </div>

            </div>


        </div>


        <!-- Input para confirmar a senha -->
        <div class="form-group">
            <label for="confirmPassword">Confirme a senha</label>
            <input type="password" 
            formControlName="confirmPassword"
            [ngClass]="{is-invalid:submitted && f.confirmPassword.errors}" 
            name="confirmPassword" 
            class="form-control"
             placeholder="Confirma a sua senha">

            <div *ngIf="f.confirmPassword.errors.required">
                Confirmar a senha é obrigatório!
            </div>

            <div *ngIf="f.confirmPassword.errors.mustMath">
                Senha não conferem
            </div>


        </div>

        <button type="submit" class="btn btn-dark mt-4">Registrar-se</button>

    </form>
</div>